body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
  }
  
  .mybut {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 31px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    width: 160px;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .textField{
    margin-left: 20px;
    margin-right : 20px;
    width: 100%;
    
  }
  .code-box-shape {
    margin:absolute;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background:#ffd5d5;
    float:left;
    display: inline-flex;
    justify-content:center;
    margin-left:10px;
  }
  .box-queue{
    margin:relative;
    position: relative;
    top:15%;
    display: flex;
    justify-content:center;
  }
  .banner-user{
    margin:relative;
  height: 460px;
}
.banner-user-elem{
  text-align: center;
  color: #45454d;
  position: relative;
  overflow: hidden;
}
.banner-user-elem .banner-user-title{
  font-size: 32px;
  margin:relative;
  position: relative;
  top: 5%;

}
.banner-user-elem .banner-user-text{
  margin:relative;
  position: relative;
  top: 10%;
  width: 80%;
  left:10%;
}
.banner-anim-elem .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.fade-enter {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  